body {
    background-color: blue;
    margin: 0;
    padding: 20px;
}

h1 {
    color: brown;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    color:darkcyan ;
}

img {
    height: 200px;
    width: 200px;
}

.classes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}